.containerPagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.number{
    margin: 4px;
    height: 30px;
    width: 30px;
    border-radius: 4px;
    font-family: 'Jua', sans-serif;
    border-color: transparent;
    cursor: pointer;
}

.active{
    margin: 4px;
    height: 30px;
    width: 30px;
    background-color: #665845;
    color: white;
    border-radius: 4px;
    font-family: 'Jua', sans-serif;
    border-color: transparent;
    cursor: pointer;
}

.notdisable{
    border-color: transparent;
    height: 30px;
    border-radius: 4px;
    font-family: 'Jua', sans-serif;
    width: 80px;
    background-color: #9cdaf3;
    cursor: pointer;
    
}

.disable {
        cursor: not-allowed;
        background-color: rgb(160, 155, 155) !important;
        border-color: transparent;
        height: 30px;
        width: 80px;
        border-radius: 4px;
        font-family: 'Jua', sans-serif;
        
    }

    .disable {
        pointer-events: none;
    }