.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    
}
.imgDog{
    width: 30rem;
    height: 20rem;
    border-radius: 15px;
    margin-right: 10rem;
    margin-left: -4rem;
    margin-top: 2.5rem;
}

.containerText {
    width: 30rem;
}

.containerMetric {
    display: flex;
    align-items: center;
    justify-content: center;
}
.containerSecundary{
    margin-left: 2rem;
    margin-right: 2rem;
}
.titleDetail{
    font-family:'Jua',sans-serif;
    color: #533b19;
    
}
.titleCaracteristic{
    font-family: 'Jua', sans-serif;
        color: #3e2c12;
        
}
.textP{
    font-family: 'Jua', sans-serif;
    color: #7a5625;
}